---
import Layout from "../layouts/Layout.astro";

import WavyBox from "../components/shared/WavyBox.astro";
import LogoImage from "../components/shared/LogoImage.astro";
---

<Layout title="Harrison's Kitchen">
  <header>
    <hgroup>
      <h1>What's for dinner?</h1>
      <p>The kitchen that meal plans for you.</p>
    </hgroup>
    <LogoImage />
  </header>
  <WavyBox
    tag="main"
    props={{
      id: "wavy-box",
    }}
  >
    <a href="/login" class="button primary">Sign In</a>
    <a href="/signup" class="button secondary">Sign Up</a>
  </WavyBox>
</Layout>
<style>
  :global(html) {
    --logo-width: min(max(16rem, 40vw), 24rem);
  }

  header {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    header {
      flex-direction: row-reverse;
      justify-content: center;
    }
  }

  header hgroup {
    margin: 0 0 0 2rem;
    padding-left: 0;
  }

  @media screen and (min-width: 768px) {
    header hgroup {
      margin: 10rem 0 3.5rem 2rem;
    }
  }

  header :global(img) {
    width: var(--logo-width);
    height: auto;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  :global(main#wavy-box) {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    --shift-up-amt: calc(var(--curve-height) - (var(--logo-width) / 2));
    margin-top: var(--shift-up-amt);
    padding-top: calc((-1 * var(--shift-up-amt)) + 2rem);
  }

  @media screen and (min-width: 768px) {
    :global(main) .button {
      max-width: 20rem;
    }
  }
</style>
