---
import Layout from "../layouts/Layout.astro";

import { getIsLoggedIn } from "../supabase/auth";
import WavyBox from "../components/shared/WavyBox.astro";
import LogoImage from "../components/shared/LogoImage.astro";
---

<Layout title="Harrison's Kitchen">
  <header>
    <hgroup>
      <h1>What's for dinner?</h1>
      <p>The kitchen that meal plans for you.</p>
    </hgroup>
    <LogoImage />
  </header>
  <WavyBox
    tag="main"
    props={{
      id: "wavy-box",
    }}
  >
    <a href="/login" class="button primary">Sign In</a>
    <a href="/signup" class="button secondary">Sign Up</a>
  </WavyBox>
</Layout>
<style>
  header {
    z-index: 1;
    position: relative;

    --logo-width: min(max(16rem, 40vw), 24rem);
  }

  header hgroup {
    margin: 10rem 0 3.5rem 2rem;
    padding-left: var(--logo-width);
  }

  header img {
    width: var(--logo-width);
    height: auto;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  main a {
    min-width: 12rem;
    max-width: 18em;
  }
</style>
