---
import Layout from "../layouts/Layout.astro";

import LoginForm from "../components/auth/LoginForm.astro";
import WavyBox from "../components/shared/WavyBox.astro";
import LogoImage from "../components/shared/LogoImage.astro";
---

<Layout title="Log In">
  <header>
    <LogoImage />
  </header>
  <WavyBox
    tag="main"
    props={{
      id: "wavy-box",
    }}
  >
    <LoginForm />
    <a href="/signup">Switch to Signup</a>
  </WavyBox>
</Layout>
<style>
  header {
    z-index: 1;
    padding-top: 8rem;
    --logo-width: min(max(16rem, 40vw), 24rem);
    padding-left: var(--logo-width);
  }

  header img {
    width: var(--logo-width);
    height: auto;
    margin-bottom: calc(var(--logo-width) / -2);
    align-self: flex-start;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
</style>
