---
import Layout from "../layouts/Layout.astro";

import SignupForm from "../components/auth/SignupForm.astro";
import LogoImage from "../components/shared/LogoImage.astro";
import WavyBox from "../components/shared/WavyBox.astro";
---

<Layout title="Sign Up">
  <header>
    <LogoImage />
  </header>
  <WavyBox
    tag="main"
    props={{
      id: "wavy-box",
    }}
  >
    <SignupForm />
    <a href="/login">Switch to Login</a>
  </WavyBox>
</Layout>
