---
import { getRecipeList } from "../../supabase/recipes";

export const prerender = false;

const recipes = await getRecipeList();
---

<h1>Recipes!</h1>
<ul>{recipes?.map((recipe) => <li>{JSON.stringify(recipe)}</li>)}</ul>
