---
export interface Props {
  apiURL: string;
}

const { apiURL } = Astro.props;
---

<form id="auth-form" hx-post={apiURL}>
  <slot />
</form>
<style>
  #auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 36ch;
  }

  #auth-form :global(.row) {
    display: flex;
    gap: 1rem;
  }

  #auth-form :global(.row > *) {
    flex: 1;
  }

  #auth-form > :global(*) {
    width: 100%;
  }
</style>
