---
import Input from "../shared/Input.astro";
import AuthForm from "./AuthForm.astro";
---

<AuthForm apiURL="/api/login">
  <Input id="email" name="email" placeholder="Email" />
  <Input type="password" id="password" name="password" placeholder="Password" />
  <button type="submit">Log in</button>
</AuthForm>
