---
import AuthForm from "./AuthForm.astro";
---

<AuthForm apiURL="/api/signup">
  <input type="text" id="email" name="email" placeholder="email" />
  <input type="password" id="password" name="password" placeholder="password" />
  <button type="submit">Sign up</button>
  <a
    href="/login"
    hx-get="/login"
    hx-replace-url="true"
    hx-select="#auth-form"
    hx-target="#auth-form"
    hx-swap="outerHTML">Switch to Login</a
  >
</AuthForm>
